<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="UTF-8" />
		<title>Loja de Roupas</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<script type="text/javascript" th:src="@{../js/index.js}"></script>
	</head>

	<body>
		<nav class="navbar navbar-expand-custom navbar-mainbg">
			<a class="navbar-brand navbar-logo" href="#">Área de Funcionarios</a>
			<button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars text-white"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<div class="hori-selector"><div class="left"></div><div class="right"></div></div>
					<li class="nav-item">
						<a class="nav-link" href="/indexVendas"><i class="far fa-chart-bar"></i>Vendas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/indexCliente"><i class="fas fa-tachometer-alt"></i>Clientes</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/indexFuncionario"><i class="far fa-address-book"></i>Funcionarios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/indexFornecedor"><i class="far fa-clone"></i>Fornecedores</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/produtos"><i class="far fa-calendar-alt"></i>Produtos</a>
					</li>               
					<li class="nav-item">
						<a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Relatorios</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container mt-3">		
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Nome Completo</th>
						<th>Telefone</th>
						<th>Rua</th>
						<th>Bairro</th>
						<th>Número da Casa</th>
						<th>C.P.F</th>
						<th>Cargo</th>
						<th colspan="2" class="text-center"><a class="btn btn-success" href="/cadastrarFuncionario">Novo Funcionario</a></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="funcionario : ${funcionarios}">
						<td><span th:text="${funcionario.nome_completo}"></span></td>
						<td><span th:text="${funcionario.telefone}"></span></td>
						<td><span th:text="${funcionario.rua}"></span></td>
						<td><span th:text="${funcionario.bairro}"></span></td>
						<td><span th:text="${funcionario.numero_casa}"></span></td>
						<td><span th:text="${funcionario.cpf}"></span></td>
						<td><span th:text="${funcionario.cargo}"></span></td>
						<td><a class="btn btn-warning" th:href="@{/editarFuncionario(codigo=${funcionario.codigo})}">Editar</a></td>
						<td><a class="btn btn-danger" th:href="@{/removerFuncionario(codigo=${funcionario.codigo})}">Remover</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
