<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>Loja de Roupas</title>
</head>
<body>

	<h1>Cadastro de Clientes</h1>
	<form method="post">
		Nome Completo: <input 	type="text" value="" name="cliente_nome_completo"/>
		Telefone: <input 		type="text" value="" name="cliente_telefone"/>
		Nome da Rua: <input 	type="text" value="" name="cliente_rua"/>
		Bairro: <input 			type="text" value="" name="cliente_bairro"/>
		Número da Casa: <input 	type="text" value="" name="cliente_numero_casa"/>
		C.P.F: <input 			type="text" value="" name="cliente_cpf"/>
		
		<button type="submit">Salvar Cadastro</button>
	</form>

</body>
</html>