<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Loja de Roupas - Cadastro de Clientes</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

	<div class="container">

		<h1>Cadastro de Clientes</h1>
		<form th:object="${cliente}" method="post">
			<div class="form-group">
				<label for="label1">Nome Completo:</label>
				<span th:if="${#fields.hasErrors('cliente_nome_completo')}" th:errors="*{cliente_nome_completo}" class="text-danger"></span>
				<input type="text" value="" name="cliente_nome_completo" placeholder="Nome Completo" class="form-control" id="label1" required/> 
			</div>
			<div class="form-group">
				<label for="label2">Telefone:</label>
				<input type="text" value="" name="cliente_telefone" placeholder="Telefone" class="form-control" id="label2" data-mask="(00) 0 0000-0000"/> 
			</div>
			<div class="form-group">
				<label for="label3">Nome da Rua:</label>
				<input type="text"  value="" name="cliente_rua" placeholder="Nome da Rua" class="form-control" id="label3"/>
			</div>
			<div class="form-group">
				<label for="label4">Bairro:</label>
				<input type="text" value="" name="cliente_bairro" placeholder="Bairro" class="form-control" id="label4"/> 
			</div>
			<div class="form-group">
				<label for="label5">Número da Casa:</label>
				<input type="text" value="" name="cliente_numero_casa" placeholder="Número da Casa" class="form-control" id="label5" maxlength="8"/> 
			</div>
			<div class="form-group">
				<label for="label6">C.P.F:</label>
				<span th:if="${#fields.hasErrors('cliente_cpf')}" th:errors="*{cliente_cpf}" class="text-danger"></span>
				<input type="text" value="" name="cliente_cpf" placeholder="C.P.F" class="form-control" id="label6"/ data-mask="000.000.000-00"required>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Salvar Cadastro</button> <a class="btn btn-primary" href="/indexCliente">Voltar a Área de Clientes</a>
			</div>
			
	</form>
	
	</div>
	
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
</body>
</html>