<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8" />
<title>Loja de Roupas</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

</head>

<body>

	<h1>Hello world - Loja de roupas</h1>
	<h4>
		<a class="btn btn-primary" href="/indexCliente">Área de Clientes</a>
		<a class="btn btn-primary" href="/indexFuncionario">Área de Funcionarios</a>
		<a class="btn btn-primary" href="/indexFornecedor">Área de Fornecedores</a>
	</h4>
</body>

</html>
