<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>Loja de Roupas</title>
</head>
<body>

	<h1>Cadastro de Produto</h1>
	<form method="post">
		Código de Barras: <input type="text" name="cod_barras"/>
		Cor: <input type="text" name="cor"/>
		Tamanho: <input type="text" name="tamanho"/>
		Valor: <input type="text" name="valor"/>
		
		<button type="submit">Salvar Cadastro</button>
	</form>

</body>
</html>