<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />

<title>Loja de Roupas</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Área de Produtos</h1>
		<div>
			<a class="btn btn-primary" href="/produtos/cadastrar">Cadastrar Novo Cliente</a>
			<a class="btn btn-primary" href="/">Voltar a Página Inicial</a>
		</div>
		<br />
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Código de Barras</th>
					<th>Tamanho</th>
					<th>Cor</th>
					<th>Valor</th>
					<th>Fornecedor</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${produtos}">
					<td><span th:text="${produto.cod_barras}"></span></td>
					<td><span th:text="${produto.tamanho}"></span></td>
					<td><span th:text="${produto.cor}"></span></td>
					<td><span th:text="${produto.valor}"></span></td>
					<td></td>
					<td>
						<a class="btn btn-warning" th:href="@{/produtos/editar(id=${produto.id})}">Editar</a>
						<a class="btn btn-danger" th:href="@{/produtos/remover(id=${produto.id})}">Remover</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>
